<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{1873.0,1388.0}</string>
        <key>name</key>
        <string>CCCommanSpritesheet</string>
        <key>textureFileName</key>
        <string>CCCommon.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>AchivementBtn.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{192.0,210.0}</string>
            <key>spriteOffset</key>
            <string>{-9.0,-4.5}</string>
            <key>spriteSourceSize</key>
            <string>{210.0,221.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,10.0},{192.0,210.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1013.0,1169.0},{192.0,210.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>AchivementBtn_OC.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{175.0,190.0}</string>
            <key>spriteOffset</key>
            <string>{-10.5,-2.5}</string>
            <key>spriteSourceSize</key>
            <string>{210.0,221.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{7.0,18.0},{175.0,190.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1.0,1195.0},{175.0,190.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>BackButton.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{134.0,132.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{134.0,132.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{134.0,132.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{878.0,1.0},{134.0,132.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>BackButton_OC.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{117.0,117.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{134.0,132.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{7.0,7.0},{117.0,117.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1741.0,432.0},{117.0,117.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>BestScore.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{57.0,56.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{58.0,59.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,1.0},{57.0,56.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{878.0,134.0},{57.0,56.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>CC_CloseBtn.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{61.0,72.0}</string>
            <key>spriteOffset</key>
            <string>{-2.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{66.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,1.0},{61.0,72.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1059.0,1090.0},{61.0,72.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>CC_CloseBtn_OC.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{54.0,63.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{66.0,75.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,6.0},{54.0,63.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1275.0,1289.0},{54.0,63.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>CC_Info_Play.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,31.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{24.0,33.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,1.0},{20.0,31.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{994.0,134.0},{20.0,31.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>CC_TextBox.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{533.0,157.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{544.0,165.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,3.0},{533.0,157.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1206.0,329.0},{533.0,157.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>LO_FB_Btn.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{154.0,154.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-1.5}</string>
            <key>spriteSourceSize</key>
            <string>{154.0,159.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,4.0},{154.0,154.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1549.0,685.0},{154.0,154.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>LO_FB_Btn_OC.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{154.0,149.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-4.0}</string>
            <key>spriteSourceSize</key>
            <string>{154.0,159.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,9.0},{154.0,149.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1361.0,1139.0},{154.0,149.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>LO_G+Btn.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{154.0,154.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-1.5}</string>
            <key>spriteSourceSize</key>
            <string>{154.0,159.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,4.0},{154.0,154.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1704.0,755.0},{154.0,154.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>LO_G+Btn_OC.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{154.0,149.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-4.0}</string>
            <key>spriteSourceSize</key>
            <string>{154.0,159.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,9.0},{154.0,149.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1516.0,1041.0},{154.0,149.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>LO_Twitter_Btn.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{154.0,153.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{154.0,159.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,5.0},{154.0,153.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1696.0,910.0},{154.0,153.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>LO_Twitter_Btn_OC.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{154.0,149.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-4.0}</string>
            <key>spriteSourceSize</key>
            <string>{154.0,159.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,9.0},{154.0,149.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1206.0,1139.0},{154.0,149.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Blue-Candy-Dice.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{41.0,39.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{50.0,50.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,5.0},{41.0,39.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1154.0,602.0},{41.0,39.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/CandyCube.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{465.0,466.0}</string>
            <key>spriteOffset</key>
            <string>{1.0,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{507.0,514.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{22.0,25.0},{465.0,466.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{687.0,195.0},{465.0,466.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Cube-Glow.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{685.0,666.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{696.0,667.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,1.0},{685.0,666.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1.0,1.0},{685.0,666.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Cube-Glow2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{499.0,500.0}</string>
            <key>spriteOffset</key>
            <string>{-8.5,-37.5}</string>
            <key>spriteSourceSize</key>
            <string>{696.0,667.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{90.0,121.0},{499.0,500.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{524.0,668.0},{499.0,500.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/R1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{51.0,182.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{52.0,183.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,1.0},{51.0,182.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1154.0,195.0},{51.0,182.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/R10.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{35.0,97.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{62.0,183.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{14.0,43.0},{35.0,97.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1303.0,833.0},{35.0,97.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/R11.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,106.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{62.0,183.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{14.0,39.0},{34.0,106.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1631.0,1192.0},{34.0,106.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/R12.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{33.0,68.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{62.0,183.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{15.0,58.0},{33.0,68.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1241.0,1289.0},{33.0,68.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/R13.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{46.0,96.0}</string>
            <key>spriteOffset</key>
            <string>{1.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{62.0,183.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{9.0,44.0},{46.0,96.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1154.0,421.0},{46.0,96.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/R2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{52.0,107.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{52.0,183.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,38.0},{52.0,107.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1578.0,1192.0},{52.0,107.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/R3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,74.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{52.0,183.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{9.0,55.0},{34.0,74.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1024.0,1090.0},{34.0,74.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/R4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{39.0,98.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{52.0,183.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,43.0},{39.0,98.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1154.0,642.0},{39.0,98.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/R5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{35.0,101.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{52.0,183.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{8.0,41.0},{35.0,101.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1833.0,652.0},{35.0,101.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/R6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{37.0,101.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{52.0,183.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{7.0,41.0},{37.0,101.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1833.0,550.0},{37.0,101.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/R7.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{41.0,161.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{52.0,183.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,11.0},{41.0,161.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{835.0,1.0},{41.0,161.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/R8.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{33.0,85.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{52.0,183.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{9.0,49.0},{33.0,85.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1206.0,1289.0},{33.0,85.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/R9.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{60.0,142.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{62.0,183.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,21.0},{60.0,142.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1516.0,1192.0},{60.0,142.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/Star.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{30.0,28.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{30.0,29.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{30.0,28.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{835.0,163.0},{30.0,28.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/Star2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{21.0,20.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{21.0,20.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{21.0,20.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{524.0,1169.0},{21.0,20.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Goldern-Ribbons/Star3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{19.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{19.0,19.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{19.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{546.0,1169.0},{19.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Green-Candy-Dice.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{47.0,42.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{50.0,50.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,4.0},{47.0,42.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1154.0,378.0},{47.0,42.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Orange-Candy-Dice.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{42.0,41.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{50.0,50.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,4.0},{42.0,41.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1154.0,559.0},{42.0,41.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Red-Candy-Dice.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{43.0,39.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{50.0,50.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,5.0},{43.0,39.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1154.0,519.0},{43.0,39.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Sparkle.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{211.0,211.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{227.0,213.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{8.0,1.0},{211.0,211.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{801.0,1169.0},{211.0,211.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Logo/Trumpet.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{268.0,199.0}</string>
            <key>spriteOffset</key>
            <string>{-1.5,-1.5}</string>
            <key>spriteSourceSize</key>
            <string>{271.0,202.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,3.0},{268.0,199.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1426.0,841.0},{268.0,199.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>LossGlow.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{361.0,195.0}</string>
            <key>spriteOffset</key>
            <string>{1.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{403.0,218.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{22.0,12.0},{361.0,195.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1206.0,488.0},{361.0,195.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Metal_Star.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{96.0,103.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{96.0,105.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,2.0},{96.0,103.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1736.0,550.0},{96.0,103.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>NextBtn.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{96.0,99.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{97.0,103.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,3.0},{96.0,99.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1736.0,654.0},{96.0,99.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>NextBtnOC.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{86.0,88.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-1.5}</string>
            <key>spriteSourceSize</key>
            <string>{97.0,103.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{6.0,9.0},{86.0,88.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1339.0,833.0},{86.0,88.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Pa_MapBtn.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{99.0,107.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{105.0,109.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{3.0,2.0},{99.0,107.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1024.0,982.0},{99.0,107.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Pa_MapBtnOC.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{89.0,99.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-3.0}</string>
            <key>spriteSourceSize</key>
            <string>{105.0,109.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{8.0,8.0},{89.0,99.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1671.0,1065.0},{89.0,99.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Pa_PlayBtn.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{70.0,99.0}</string>
            <key>spriteOffset</key>
            <string>{6.5,-5.0}</string>
            <key>spriteSourceSize</key>
            <string>{105.0,109.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{24.0,10.0},{70.0,99.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1134.0,832.0},{70.0,99.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Pa_PlayBtn_OC.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{64.0,90.0}</string>
            <key>spriteOffset</key>
            <string>{5.5,-5.5}</string>
            <key>spriteSourceSize</key>
            <string>{105.0,109.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{26.0,15.0},{64.0,90.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1139.0,741.0},{64.0,90.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Pa_ResetBtn.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{105.0,106.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-1.5}</string>
            <key>spriteSourceSize</key>
            <string>{105.0,109.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,3.0},{105.0,106.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1024.0,874.0},{105.0,106.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Pa_ResetBtnOC.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{96.0,99.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-3.0}</string>
            <key>spriteSourceSize</key>
            <string>{105.0,109.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,8.0},{96.0,99.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1205.0,833.0},{96.0,99.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Pearl_Icon.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{54.0,54.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{56.0,55.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,0.0},{54.0,54.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1330.0,1289.0},{54.0,54.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>PlayBtn.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{294.0,205.0}</string>
            <key>spriteOffset</key>
            <string>{-4.5,-3.0}</string>
            <key>spriteSourceSize</key>
            <string>{305.0,211.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,6.0},{294.0,205.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1131.0,933.0},{294.0,205.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>PlayBtn_Oc.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{261.0,183.0}</string>
            <key>spriteOffset</key>
            <string>{-10.0,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{305.0,211.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{12.0,15.0},{261.0,183.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{349.0,1195.0},{261.0,183.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Revive_Btn.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{119.0,101.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,101.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,0.0},{119.0,101.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1741.0,329.0},{119.0,101.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Revive_Btn_OC.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{109.0,96.0}</string>
            <key>spriteOffset</key>
            <string>{1.5,2.5}</string>
            <key>spriteSourceSize</key>
            <string>{120.0,101.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{7.0,0.0},{109.0,96.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1024.0,777.0},{109.0,96.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Ribbon.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{662.0,206.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-2.5}</string>
            <key>spriteSourceSize</key>
            <string>{673.0,211.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{6.0,5.0},{662.0,206.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1206.0,1.0},{662.0,206.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Score_Amount.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{171.0,186.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{171.0,187.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,1.0},{171.0,186.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{177.0,1195.0},{171.0,186.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Setting_Btn.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{166.0,196.0}</string>
            <key>spriteOffset</key>
            <string>{-3.0,-11.5}</string>
            <key>spriteSourceSize</key>
            <string>{210.0,221.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{19.0,24.0},{166.0,196.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1569.0,488.0},{166.0,196.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Setting_BtnOc.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{147.0,174.0}</string>
            <key>spriteOffset</key>
            <string>{-2.5,-8.5}</string>
            <key>spriteSourceSize</key>
            <string>{210.0,221.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{29.0,32.0},{147.0,174.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{687.0,1.0},{147.0,174.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>StoreBtn.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{188.0,214.0}</string>
            <key>spriteOffset</key>
            <string>{-8.0,-2.5}</string>
            <key>spriteSourceSize</key>
            <string>{210.0,221.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{3.0,6.0},{188.0,214.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{611.0,1169.0},{188.0,214.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>StoreBtn_Oc.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{167.0,193.0}</string>
            <key>spriteOffset</key>
            <string>{-6.5,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{210.0,221.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{15.0,15.0},{167.0,193.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1024.0,1.0},{167.0,193.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>StoreIcon.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{57.0,56.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{58.0,59.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,1.0},{57.0,56.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{936.0,134.0},{57.0,56.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Win_Glow.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{522.0,526.0}</string>
            <key>spriteOffset</key>
            <string>{4.0,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{566.0,576.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{26.0,26.0},{522.0,526.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1.0,668.0},{522.0,526.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Win_GoldenStar.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{93.0,100.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{93.0,102.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,2.0},{93.0,100.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1667.0,1192.0},{93.0,100.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Win_Ribbon.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{660.0,120.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,1.5}</string>
            <key>spriteSourceSize</key>
            <string>{664.0,127.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{660.0,120.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1206.0,208.0},{660.0,120.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Win_Stars.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{341.0,148.0}</string>
            <key>spriteOffset</key>
            <string>{-0.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{344.0,152.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{341.0,148.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1206.0,684.0},{341.0,148.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{114.0,114.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{114.0,114.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{114.0,114.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1024.0,662.0},{114.0,114.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
